@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Code';
  src: url('./assets/codefont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

body {
  background: radial-gradient(circle, rgba(240,240,240,1) 0%, rgba(215, 240, 247, 1) 50%, rgb(151, 207, 238) 100%);
  font-family: 'Code', sans-serif;
  color: #3d4147;
  @apply flex justify-center items-center h-screen;
}


.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.pulse-circle::before {
  content: "";
  background: radial-gradient(circle, rgb(0, 119, 255) 0%, rgb(130, 201, 243) 50%, rgb(229, 238, 250) 100%);
  @apply animate-ping rounded-full absolute inset-0 m-auto w-[40vh] h-[40vh] z-[-1];
}

h1,
h2,
h3 {
  font-weight: 700;
}

#screen {
  background-color: #fef3c7;
  border-radius: 15px;
  padding: 20px;
  box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.05);
  color: #1f2937;
}

#timer-label,
#time-left {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

button {
  font-size: 1.5rem;
  border-radius: 15px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}


.btn-decrement {
  @apply bg-pink-200 text-pink-800;
}

.btn-decrement:hover {
  @apply bg-pink-300;
}

.btn-increment {
  @apply bg-indigo-200 text-indigo-800;
}

.btn-increment:hover {
  @apply bg-indigo-300;
}

.btn-play {
  @apply bg-teal-200 text-teal-800;
}

.btn-play:hover {
  @apply bg-teal-300;
}

.btn-pause {
  @apply bg-yellow-200 text-yellow-800;
}

.btn-pause:hover {
  @apply bg-yellow-300;
}

.btn-reset {
  @apply bg-red-200 text-red-800;
}

.btn-reset:hover {
  @apply bg-red-300;
}

button i {
  font-size: 1.2rem;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}


